* {
    box-sizing:border-box;
}
body{
    position: relative;
    width: 1440px;
    height: 5543px;
    
    background: #E2BBF4;
}
.h-1{
    position: absolute;
    width: 706.1px;
    height: 82px;
    left: 365.48px;
    top: 51.67px;

    background: #A052BB;

    position: absolute;

    font-family: 'Adobe Heiti Std';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    text-align: center;

    color: #FFFFFF;
}
.b-2{
    box-sizing: border-box;

    position: absolute;
    width: 1196px;
    height: 740px;
    left: 121px;
    top: 228px;
    
    background: #A334CA;
    border: 5px solid #A334CA;
}
.i-1{
    position: absolute;
    width: 1120px;
    height: 630px;
    left: 39px;
    top: 48px;
    
    background: url(9.png);
}
.b-3{
    box-sizing: border-box;

    position: absolute;
    width: 1196px;
    height: 740px;
    left: 122px;
    top: 1086px;
    
    background: #A334CA;
    border: 5px solid #A334CA;
}
.b-4{

    box-sizing: border-box;

    position: absolute;
    width: 1196px;
    height: 740px;
    left: 122px;
    top: 1944px;
    
    background: #A334CA;
    border: 5px solid #A334CA;
}
.b-5{
    box-sizing: border-box;

    position: absolute;
    width: 1196px;
    height: 740px;
    left: 122px;
    top: 2800px;

    background: #A334CA;
    border: 5px solid #A334CA;
}
.b-6{
    box-sizing: border-box;

    position: absolute;
    width: 1196px;
    height: 740px;
    left: 122px;
    top: 3660px;

    background: #A334CA;
    border: 5px solid #A334CA;
}
.b-7{
    box-sizing: border-box;

    position: absolute;
    width: 1196px;
    height: 740px;
    left: 122px;
    top: 4518px;
    
    background: #A334CA;
    border: 5px solid #A334CA;
}
.s-8{
    position: absolute;

    top: 5360px;
}