* {
    box-sizing:border-box;
}
body{
    position: relative;
    width: 1440px;
    height: 2000px;
    
    background: #E2BBF4;
}
.box-1{
    position: absolute;
    width: 706.1px;
    height: 82px;
    left: 365.48px;
    top: 51.67px;

    background: #A052BB;
}
.main-heder{
    position: absolute;
    width: 727px;
    height: 45px;
    left: -9px;
    
    font-family: 'Adobe Heiti Std';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    
    color: #FFFFFF;
}
.box{
    box-sizing: border-box;

    position: absolute;
    width: 1075px;
    height: 1820px;
    left: 243px;
    top: 162px;
    
    border-color: none;
    border: 5px solid #A334CA;
}
.i-1{
    position: absolute;
    width: 1040px;
    height: 766px;

    font-family: 'Adobe Heiti Std';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;

    color: #FFFFFF;
}